@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", "Playfair", Georgia, serif;
  --font-sans: "Inter", sans-serif;
  --color-brand-pink: #B2706B;
  --color-brand-nude: #FDF8F5;
  --color-brand-cream: #E6D5C7;
  --color-brand-gold: #C5A059;
  --color-brand-dark: #1A1A1A;
  --color-gold-hover: #B28F4D;
  --color-pink-hover: #A15F5A;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
